<!doctype html>
<html lang="">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="og:title" content="updog">
	<meta property="og:image" content="http://media.apps.cironline.org/richmond/images/logo1x.png">
	<meta property="og:description" content="">

	<title>updog</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<link rel="shortcut icon" type="image/x-icon" href="http://cironline.org/sites/all/themes/cir/favicon.ico">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<!-- build:css(.) styles/vendor.css -->
	<!-- bower:css -->
	<!-- endbower -->
	<!-- endbuild -->
	<!-- build:css(.tmp) styles/main.css -->
	<link rel="stylesheet" href="styles/main.css">
	<!-- endbuild -->
</head>

<body>
	<!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


	<div class="container" id="backboneEl">

	</div>

	<script id="template" type="text/html">
		<div id="mainRow" class="row vertical-center">
      <!--  button component-->
      <div class="col-xs-12 center-block">

        <!-- clicker -->
        <div class="col-xs-6 col-sm-3 col-sm-offset-4 col-md-2 text-center">
          <input id="clicker" class="btn btn-lg btn-default text-center" type="button" value="Add an Updog">
        </div>

        <!-- counter -->
        <div class="col-xs-6 col-sm-3 col-md-2 text-center">
          <div id='counter' style="max-width: 200px" class="panel panel-default"></div>
        </div>

      </div>

      <hr>

      <!-- buy a clicker -->
      <div class="col-xs-6" id="buyClickDoge">
      </div>

      <!-- click doge counter -->
      <div class="col-xs-6 col-sm-3 col-md-2 text-center" id="clickerCounter">
      </div>


    </div>



  </script>

  <script id="counterTemplate" type="text/template">

    <h2 class="text-center">  Doges: <%= count %> </h2>

  </script>

  <script id="buyClickDogeTemplate" type="text/html">
  <div class="text-center">
    <input type="button" class="btn btn-lg btn-default" value="Buy a click doge (10)">
  </div>
  </script>

  <script id="clickDogeCounterTemplate" type="text/html">
    <div style="max-width: 200px" class="panel panel-default">
      <h4>Click Doges: <%= clickDoges %></h4>
    </div>
  </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/backbone/backbone.js"></script>
    <!-- endbower -->
    <!-- endbuild -->



    <!-- build:js(.) scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!--  endbuild -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <!-- <script type="text/javascript" async src="//platform.twitter.com/widgets.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      var WebFontConfig = {
        google: { families: ['Lato',] },
        typekit: { id: 'quu2bck' }
      };

      _gaq.push(['_setAccount', 'UA-2147301-15']);
      _gaq.push(['_setDomainName', '.cironline.org']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
                  '://ajax.googleapis.com/ajax/libs/webfont/1.5.6/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })(); -->
    </script>
  </body>
</html>
